<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <%= form_for :comment, url: post_comment_path, method: :post do |form| %>
      <%= form.hidden_field :user_uuid, value: session[:user_uuid] %>
      <%= form.hidden_field :caff_uuid, value: caff_uuid %>
      <div class="field">
          <%= form.text_area :text, class: "textarea", placeholder: "Add a comment..."%>
      </div>
      <div class="field">
        <p class="control">
          <%= form.submit :Post, class: "button", id: "submitBtn"%>
        </p>
      </div>
    <% end %>
  </div>
</article>