<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="content is-vcentered">
        <h1 class="title">
          Pangolin
        </h1>
      </div>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <% if logged_in? %>
    <div class="navbar-start">

      <div class="navbar-item">
        <%= form_tag('search', method: :get) do %>
          <div class="level">
            <div class="level-item">
              <div class="field">
                <%= text_field_tag 'query', "", class: "input", :maxlength => 20%>
              </div>

            </div>

            <div class="level-item">
              <div class="actions">
                <%= submit_tag :Search, class: "button", id: "submitBtn"%>
              </div>
            </div>

          </div>
        <% end %>
      </div>

    </div>
    <% end %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%=link_to "Upload", upload_page_path, method: :get, class:"button is-light" %>
            <%=link_to "Log out", logout_path, method: :get, class:"button is-light" %>
          <% else %>
            <%=link_to "Sign Up", register_path, method: :get, class:"button is-primary" %>
            <%=link_to "Log In", login_path, method: :get, class:"button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>