<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="content is-vcentered">
        <h1 class="title">
          Calsy
        </h1>
      </div>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=<%= home_path %>>
        Home
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%=link_to "Upload", upload_page_path, method: :get, class:"button is-light" %>
            <%=link_to "Log out", logout_path, method: :get, class:"button is-light" %>
          <% else %>
            <%=link_to "Sign Up", register_path, method: :get, class:"button is-primary" %>
            <%=link_to "Log In", login_path, method: :get, class:"button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>